header {
  width: 100%;
  padding: 35px;
  background-color: $white-color;
  height: 0;
  position: fixed;
  display: flex;
  align-self: center;
  z-index: 1000000;
  border-bottom: 1px solid $border-color;
}
.container {
  display: flex;
  align-self: center;
  margin-left: 100px;
  margin-right: 75px;
}
.a-logo {
  height: 35px;
  
}
.a-logo-2 {
  height: 35px;
}
.web {
color: $blue-color;
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 600;
}
.studio {
color: $black-color;
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 600;
display: flex;
margin-right: 75px;
}
.ul-header {
  display: flex;
  align-self: center;
  
}
.li-header {
  list-style: none;
  margin-left: 32px;
  font-size: 18px;
  font-family:$text-font2;
}
.a-header-active {
  color: $blue-color;
  display: flex;
  flex-direction: column;

}
.a-header-active::after {
  content: "";
  position: relative;
display: flex;
justify-content: end;
border-bottom: 3px solid $blue-color;
border-radius: 2px;
bottom: -20px;
}
.a-header-nos {
  color: $black-color;
  transition: color $bg;
}
.a-header-nos:hover {
  color: $blue-color;
}
.a-header-nos:hover::after {
  content: "";
  position: relative;
display: flex;
justify-content: end;
border-bottom: 3px solid $blue-color;
border-radius: 2px;
bottom: -20px;
animation: move 1s alternate;
}
.a-header-noa {
  color: $black-color;
}
.a-header-noa:hover {
  color: $blue-color;
}
.a-header-noa:hover::after {
  content: "";
  position: relative;
display: flex;
justify-content: end;
border-bottom: 3px solid $blue-color;
border-radius: 2px;
bottom: -20px;
animation: move 1s alternate;
}
@keyframes move {
  0% {
    left: 0;
    top: 0px;
  }
  100% {
    left: 0;
    top: 20px;
  }
}
.ul-contacts {
  display: flex;
  align-self: center;
}
.li-contacts {
  list-style: none;
  font-size: 18px;
  display: flex;
  align-self: center;
  font-family:$text-font2;
}
.a-contacts {
  height: 25px;
  color: $gray-color;
  display: flex;
  align-self: center;
}
.a-contacts:hover {
  color: $blue-color;
  display: flex;
}
.p-contacts {
  display: flex;
  align-items: center;
justify-content: center;
transition: color $bg;
}
.fa-regular {
  font-size: 20px;
  margin-left: 150px;
  margin-right: 15px;
  display: flex;
}
.fa-solid {
  margin-left: 35px;
  font-size: 20px;
  margin-right: 15px;
  display: flex;
}
.logo-ul {
  display: flex;
  align-self: center;
}
.button-div {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 120px;
  margin-left: 450px;
  margin-right: 450px; }