$white-color: #FFFF;
$border-color: #ececec;
$blue-color: #2196f3;
$blue-color2:  #2195f3bd;
$black-color: black;
$gray-color: #757575;
$footer-color: #2F303A;
$button-color: #444444;
$card-team: #eeeeee;
$black: rgba(0, 0, 0, 0.3);
$bg: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$text-font: "Raleway", sans-serif;
$text-font2: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

